<ng-container *ngIf="foreignKeysEntitiesMap!==undefined">
  <ng-container *ngIf="entityConfig">
    <div [ngClass]="{'adding':!entity,'editing':entity}">
      <form [formGroup]="formGroup">

        <ng-container *ngIf="!entity">


          <div style="width: 1.5em;">
            <span *ngIf="formGroup.valid" class="valid">&#x2713;</span>
            <span *ngIf="!formGroup.valid">&nbsp;</span>
          </div>

        </ng-container>



        <ng-container *ngFor="let field of entityConfig.fields">

          <ng-container *ngIf="!field.foreignKey">

            <ng-container *ngIf="field.input && field.input.type==='textarea'; else textinput">

              <div class="text">
                <mat-form-field>
                  <mat-label>{{field.name}}</mat-label>
                  <textarea matInput [formControlName]="field.name" [rows]="field.input.rows"
                    [cols]="field.input.cols"></textarea>
                </mat-form-field>
              </div>

            </ng-container>

            <ng-template #textinput>

              <div class="textinput">
                <mat-form-field>
                  <mat-label>{{field.name}}</mat-label>
                  <input matInput type="text" [placeholder]="field.name" [formControlName]="field.name">
                </mat-form-field>
              </div>

            </ng-template>

          </ng-container>

          <ng-container *ngIf="field.foreignKey">

            <mat-form-field>
              <mat-label>{{field.name}}</mat-label>

              <mat-select [formControlName]="field.name" [multiple]="field.multiple"
                (change)="setLatestForeignKeyValueForAdd(addEntity,field)">

                <mat-option *ngFor="let entity of foreignKeysEntitiesMap[field.foreignKey]" [value]="entity.id">
                  {{entity[field.label]}}
                </mat-option>

              </mat-select>

            </mat-form-field>

          </ng-container>

        </ng-container>

        <ng-container *ngIf="entity">

          <div class="buttons">
            <span>
              <button mat-icon-button matTooltip="save changes" (click)="save()" [disabled]="formGroup.pristine">
                <mat-icon>save_alt</mat-icon>
              </button>
            </span>
            <span>
              <button mat-icon-button matTooltip="close" (click)="cancel()">
                <mat-icon>close</mat-icon>
              </button>
            </span>
          </div>

        </ng-container>

        <ng-container *ngIf="!entity">

          <span style="width: 8em; display: flex; justify-content: space-between;">
            <button mat-icon-button matTooltip="delete entry" (click)="removeNew()">
              <mat-icon>delete_outline</mat-icon>
            </button>
          </span>

        </ng-container>

      </form>
    </div>
  </ng-container>
</ng-container>