<div class="display">

  <ng-container *ngFor="let field of entityConfig.fields">
    <ng-container *ngIf="!field.foreignKey">

      <div class="field" [ngClass]="field.name">
        <span>{{entity[field.name]}}</span>
      </div>

    </ng-container>

    <ng-container *ngIf="field.foreignKey">
      <ng-container *ngIf="foreignKeysEntitiesIdMap[field.foreignKey]">
        <div class="field foreignKey" [ngClass]="field.name">
          <ng-container *ngIf="field.multiple">
            <ng-container *ngFor="let value of entity[field.name]">
              <span>{{foreignKeysEntitiesIdMap[field.foreignKey][value][field.label]}}</span>&nbsp;
            </ng-container>
          </ng-container>
          <ng-container *ngIf="!field.multiple">

            <span>{{foreignKeysEntitiesIdMap[field.foreignKey][entity[field.name]][field.label]}}</span>

          </ng-container>
        </div>
      </ng-container>
    </ng-container>


  </ng-container>

  <div class="edit">
    <a (click)="edit.next()">edit</a>
  </div>

</div>