li{
    display: flex;
    margin-bottom: 0.5em;
    label{
        width: 8em;
        color: #666;
        span{
            font-size: 0.85em;

        }
        text-align: right;
        margin-right: 0.5em;
    }
}