<h2>Current</h2>

<ng-container *ngIf="(scheduleItem$|async) as scheduleItem">
  <ng-template #noitem>
    No current item found.
  </ng-template>
  <ng-container *ngIf="scheduleItem.start; else noitem">

    <app-schedule-item-details [scheduleItem$]="scheduleItem$" [scheduleConfig]="config"
      [foreignKeysEntitiesIdMap]="foreignKeysEntitiesIdMap"></app-schedule-item-details>


    <button matTooltip="refresh instance" mat-icon-button (click)="loadCurrentScheduleInstance()">
      <mat-icon>refresh</mat-icon>
    </button>

    <app-instance-display-basic [scheduleInstance$]="scheduleInstance$" [entityConfig]="config">
    </app-instance-display-basic>

  </ng-container>

</ng-container>