ul{
    list-style-type: none;
    margin-top: 0em;
    padding-left: 0em;
    display: flex;
    flex-wrap: wrap;
}

input[type=button]:focus{outline:0;}
button:focus {outline:0;}
.active{ color: red; text-decoration: underline; }