.display{
    display: flex;
    align-items: flex-start;

    .text{
        width: 25em;
        margin-right: 1.5em;
        mat-form-field {
            width: 100%;
        }
    }
    .buttons{
        margin-left: 2em;
    }

    input.autocomplete{
        padding: 0.3em;
        border: 1px solid #ccc;
    }
    .optionNotFound{
        font-size: 0.9em;
        border: 1px gold;
        width: 13em;
    }
 
}