<mat-toolbar *ngIf="backendApiService.target">
  <h1 style="margin-left: 1em;">{{TARGETS[backendApiService.target].title}}</h1>

  <ng-container *ngIf="TARGETS[backendApiService.target]">
    <span class="environmentName" *ngIf="authService.getLoggedInUser()"
      [ngStyle]="{'color': TARGETS[backendApiService.target].color}">{{backendApiService.target}}</span>
  </ng-container>

  <span class="example-fill-remaining-space"></span>

  <div class="login" style="display: flex; align-items: center;" *ngIf="authService.isLoggedIn()">

    <span style="display: flex; align-items: center; margin-right: 0.5em;">
      <mat-icon>person</mat-icon>
      {{authService.getLoggedInUser()}}
    </span>

    <span style="margin-left: 0.5em;"><a (click)="logout()">logout</a></span>

  </div>

  <div class="login" *ngIf="authService.isLoggedOut()"><a [routerLink]="['login']">login</a></div>

</mat-toolbar>



<div id="content">
  <div id="left" class="column">

    <ul class="navigationlinks">
      <li routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
        true}">
        <span class='arrow'>&#9656;</span>
        <a [routerLink]="['']">Home</a>
      </li>

      <ng-container *ngIf="authService.isLoggedIn()">

        <ng-container *ngIf="schedule">
          <li routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
            true}">
            <span class='arrow'>&#9656;</span>
            <a [routerLink]="['current']">Current</a>
          </li>


          <li routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
          true}">
            <span class='arrow'>&#9656;</span>
            <a [routerLink]="['schedule']">Schedule</a>
          </li>
        </ng-container>


        <ng-container *ngIf="entities">
          <ng-container *ngFor="let plural of entities">
            <li class="entity" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
                  true}">
              <span class='arrow'>&#9656;</span>
              <a [routerLink]="['entities',plural]">{{plural}}</a>
            </li>
          </ng-container>
        </ng-container>



        <li routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
            true}">
          <span class='arrow'>&#9656;</span>
          <a [routerLink]="['schema']">Schema</a>
        </li>


      </ng-container>

      <li routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
        true}">
        <span class='arrow'>&#9656;</span>
        <a [routerLink]="['test-api']">API Test</a>
      </li>

    </ul>
  </div>



  <div id="right" class="column">
    <div class="loggedout" *ngIf="!authService.isLoggedIn()">
      You are currently logged out. Please log in.
    </div>



    <router-outlet></router-outlet>
  </div>

</div>