<mat-toolbar *ngIf="authService.currentTarget">
  <h1 style="margin-left: 1em;">{{TARGETS[authService.currentTarget].title}}</h1>
  <span class="environmentName" *ngIf="authService.getLoggedInUser()"
    [ngStyle]="{'color': TARGETS[authService.currentTarget].color}">{{authService.getCurrentTarget()}}</span>
  <span class="example-fill-remaining-space"></span>
  <div class="login" style="display: flex; align-items: center;" *ngIf="authService.isLoggedIn()">
    <span style="display: flex; align-items: center; margin-right: 0.5em;">
      <mat-icon>person</mat-icon>
      {{authService.getLoggedInUser()}}
    </span>
    <span style="margin-left: 0.5em;"><a (click)="logout()">Logout</a></span>
  </div>
  <div class="login" *ngIf="authService.isLoggedOut()"><a [routerLink]="['login']">Login</a></div>
</mat-toolbar>

<div id="content">
  <div id="left" class="column">

    <ul class="navigationlinks">
      <li routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
        true}">
        <span class='arrow'>&#9656;</span>
        <a [routerLink]="['']">Home</a>
      </li>

      <ng-container *ngIf="authService.isLoggedIn()">

        <li routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
            true}">
          <span class='arrow'>&#9656;</span>
          <a [routerLink]="['current']">Current</a>
        </li>

        <li routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
            true}">
          <span class='arrow'>&#9656;</span>
          <a [routerLink]="['schedule']">Schedule</a>
        </li>

        <ng-container *ngIf="(configSchemaService.entities$|async) as entities">
          <ng-container *ngFor="let entity of entities">
            <li class="entity" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
                  true}">
              <span class='arrow'>&#9656;</span>
              <a [routerLink]="['entities',entity.plural]">{{entity.plural}}</a>
            </li>
          </ng-container>
        </ng-container>



        <li routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
            true}">
          <span class='arrow'>&#9656;</span>
          <a [routerLink]="['config-schema']">Config Schema</a>
        </li>


      </ng-container>

      <li routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
        true}">
        <span class='arrow'>&#9656;</span>
        <a [routerLink]="['test-api']">API Test</a>
      </li>

    </ul>
  </div>



  <div id="right" class="column">
    <div class="loggedout" *ngIf="!authService.isLoggedIn()">
      You are currently logged out. Please log in.
    </div>



    <router-outlet></router-outlet>
  </div>

</div>