<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar>
  <!--
  <a [routerLink]="['']">
      <img src="assets/logo-gold.png">
  </a>
  -->
  <h1 style="margin-left: 1em;">Dialogflow Admin Client</h1>
  <span class="environmentName"> {{environmentName}}</span>
  <span class="example-fill-remaining-space"></span>

  <div class="login" *ngIf="authService.isLoggedIn()">
    Logged in as {{authService.getLoggedInUser()}}
    | <a (click)="logout()" href>Logout</a>
  </div>
  <div class="login" *ngIf="authService.isLoggedOut()"><a [routerLink]="['login']">Login</a></div>

</mat-toolbar>

<div id="content">
  <div id="left" class="column">

    <!--
<div class="logo"><img src="assets/app-logo.png"> </div>
-->

    <ul class="navigationlinks" *ngIf="authService.isLoggedIn()">
      <!--
  <li><a [routerLink]="['admin','authors']">Authors</a></li>
  <li><a [routerLink]="['admin','quotes']">Quotes</a></li>
  <li><a [routerLink]="['admin','schedule']">Schedule</a></li>
  <li><a [routerLink]="['admin','themes']">Themes</a></li>
  <li><a [routerLink]="['admin','addquotes']">New Quote</a></li>
  <li><a [routerLink]="['admin','current']">Current</a></li>
   -->
    </ul>

    <!-- for testing only: remove for production deployment-->
    <ul class="navigationlinks">
      <li><a [routerLink]="['test-api']">API Test</a></li>
      <!--
  <li *ngIf="authService.isLoggedIn()"><a [routerLink]="['admin','webhook']">Webhook Test</a></li>
  -->
    </ul>
  </div>



  <div id="right" class="column">
    <div class="loggedout" *ngIf="!authService.isLoggedIn()">
      You are currently logged out. Please <a [routerLink]="['/login']">log in</a>.
    </div>
    <router-outlet></router-outlet>
  </div>

</div>