<h2>Schedule</h2>
<ng-container *ngIf="(now$ | async) as now">

  <ng-container *ngIf="config && adding">
    <input type="button" value="cancel" (click)="setAdding(false)">
    <input type="button" value="save" (click)="saveNewScheduleItem()" [disabled]="!addScheduleItem.valid">
    <form [formGroup]="addScheduleItem">

      <ng-container *ngFor="let field of config.fields">

        <ng-container *ngIf="field.foreignKey">
          <select [formControlName]="field.name" (change)="setLatestForeignKeyValueForAdd(addScheduleItem,field)">
            <ng-container *ngIf="field.nullValue">
              <option [value]="field.default">{{field.nullValue}}</option>
            </ng-container>
            <option *ngFor="let entity of foreignKeyEntities[field.foreignKey]" [value]="entity.id">
              {{entity[field.label]}}
            </option>
          </select>
        </ng-container>

        <ng-container *ngIf="field.type==='quantity'">
          <input [formControlName]="field.name" type="number" size="5" [placeholder]="field.name">
        </ng-container>

        <ng-container *ngIf="field.type==='date'">
          <mat-form-field>
            <input matInput [min]="now" [formControlName]="field.name" [matDatepicker]="picker"
              [placeholder]="field.placeholder">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </ng-container>

        <ng-container *ngIf="field.type==='hour'">
          <select [formControlName]="field.name">
            <option *ngFor="let h of hours" [value]="h">
              {{h | number : '2.0-0'}}
            </option>
          </select>
        </ng-container>

        <ng-container *ngIf="field.type==='minute'">
          <select [formControlName]="field.name">
            <option *ngFor="let m of minutes" [value]="m">
              :{{m | number : '2.0-0'}}
            </option>
          </select>
        </ng-container>

      </ng-container>
      <span>zone GMT-{{zone/60}}</span>
    </form>
  </ng-container>
</ng-container>

<ng-container *ngIf="!adding">
  <input type="button" value="add" (click)="setAdding(true)">
</ng-container>

<div class="showing">Showing {{schedule.returned}} of {{schedule.total}}.</div>
<ng-container *ngIf="schedule.total>schedule.returned">
  <div>
    <input type="button" value="&laquo;" (click)="previousPage()" [disabled]="1>schedule.query.offset">
    <input type="button" value="&raquo;" (click)="nextPage()"
      [disabled]="(schedule.query.offset+schedule.returned)>=schedule.total">
  </div>

</ng-container>

<div *ngIf="(now$ | async) as now">
  <div *ngIf="(items$|async) as items, let i=index;">
    <ul>
      <ng-container *ngFor="let item of items; let i=index">
        <ng-container *ngIf="!formGroups[item.id]">

          <li class="displaying"
            [ngClass]="{'future' : 0>timeFlags[item.id], 'current':0===timeFlags[item.id],  'completed':timeFlags[item.id]>0  }">

            <div class="index">
              <span>{{schedule.query.offset+1+i}}</span>
            </div>
            <ng-container *ngFor="let field of config.fields">

              <ng-container *ngIf="field.foreignKey">
                <ng-container *ngIf="foreignKeyEntitiesIdMap[field.foreignKey]">

                  <div class="foreignKey" [ngClass]="field.foreignKey">
                    <ng-container *ngIf="item[field.name] as id">
                      {{foreignKeyEntitiesIdMap[field.foreignKey][id][field.label]}}
                    </ng-container>
                    <ng-container *ngIf="!item[field.name]">
                      any
                    </ng-container>
                  </div>

                </ng-container>
              </ng-container>

              <ng-container *ngIf="field.type==='quantity'">

                <div class="quantity" [ngClass]="field.name">
                  <span>
                    {{item[field.name]}}
                  </span>
                </div>

              </ng-container>

              <ng-container *ngIf="field.type==='date'">

                <div class="date">{{item.start.format('M/DD/YYYY HH:mm')}}</div>

              </ng-container>


            </ng-container>

            <ng-container *ngIf="0>now.diff(item.start)">

              <div class="edit">
                <a (click)="edit(item)">edit</a>
              </div>

              <div class="edit delete">
                <a (click)="delete(item)">delete</a>
              </div>
            </ng-container>
          </li>

        </ng-container>
        <ng-container *ngIf="formGroups[item.id]">

          <li class="editing">

            <form [formGroup]="formGroups[item.id]">

              <ng-container *ngFor="let field of config.fields">

                <ng-container *ngIf="field.foreignKey">
                  <div class="foreignKey" [ngClass]="field.foreignKey">
                    <select [formControlName]="field.name"
                      (change)="setLatestForeignKeyValueForAdd(formGroups[item.id],field)">
                      <ng-container *ngIf="field.nullValue">
                        <option [value]="field.default">{{field.nullValue}}</option>
                      </ng-container>
                      <option *ngFor="let entity of foreignKeyEntities[field.foreignKey]" [value]="entity.id">
                        {{entity[field.label]}}
                      </option>
                    </select>
                  </div>
                </ng-container>

                <ng-container *ngIf="field.type==='quantity'">
                  <div class="quantity" [ngClass]="field.name">
                    <input [formControlName]="field.name" type="number" [placeholder]="field.name">
                  </div>

                </ng-container>

                <ng-container *ngIf="field.type==='date'">
                  <mat-form-field>
                    <input matInput [min]="now" [formControlName]="field.name" [matDatepicker]="picker"
                      [placeholder]="field.placeholder">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </ng-container>

                <ng-container *ngIf="field.type==='hour'">
                  <select [formControlName]="field.name">
                    <option *ngFor="let h of hours" [value]="h">
                      {{h | number : '2.0-0'}}
                    </option>
                  </select>
                </ng-container>

                <ng-container *ngIf="field.type==='minute'">
                  <select [formControlName]="field.name">
                    <option *ngFor="let m of minutes" [value]="m">
                      :{{m | number : '2.0-0'}}
                    </option>
                  </select>
                </ng-container>

              </ng-container>

              <div class="edit">
                <input type="button" (click)="save(item,i)" value="save"
                  [disabled]="formGroups[item.id].pristine || loading[item.id]">
              </div>
              <div class="edit">
                <input type="button" (click)="cancel(item)" value="cancel" [disabled]="loading[item.id]">
              </div>

            </form>
          </li>
        </ng-container>
      </ng-container>
    </ul>
  </div>
</div>