ul{

list-style-type: none;
}
.index{
    width: 1.5em;
    color: #ccc;
    padding-right: 0.5em;
    text-align: right;
    span{
        font-size: 0.8em;
    }
}
.showing{
    font-size: 0.8em; 
    color: #666;
    margin-bottom: 0.2em;
}
li.current{
    border: 1px solid forestgreen !important;
    border-left: 4px solid forestgreen !important;
    color: forestgreen !important;
}
li.completed{
   
    border: 1px solid #ccc !important;
    border-left: 4px solid #ccc !important;
    color: #777 !important;
}
li.displaying{
   
    margin-bottom: 0.5em;
    padding: 0.5em;
    padding-left: 0em;
    border: 1px solid #666;
    border-left: 4px solid #666;
    font-size: 0.9em;
    color: #666;
    display: flex;

    .foreignKey{
        width: 10em;
    }
    .quantity{
        width: 3em;
        span{
            font-size: 0.8em;
        }
    }
    .date{
        width: 10em;
    }
    .status{
        padding-right: 3em;
        span{
            font-size: 0.8em;
        }
    }
    .edit{
        a{
            font-size: 0.8em;
            color: #666;
            cursor: default;
        }
        a:link{
            color: #666;
         
        }
        a:hover{
            color: goldenrod;
            
        }
    }
    .delete{
        margin-left: 6em;
        margin-right: 1em;
        
        
    }

}
li.editing{
    margin-bottom: 0.5em;
    padding: 0.2em;
    border: 1px solid goldenrod;
    padding-left: 1.5em;
    .index{
        width: 2em;
        color: #ccc;
        padding-left: 0.3em;
        text-align: right;
    }
    form{
        align-items: center;
        padding: 0em;
        display: flex;

        
    }
   
    .foreignKey{
       
        width: 10em;
    }
    .quantity{
        width: 3em; 
        input[type=number] {
            width: 3em;
        }
    }
    .date{
        width: 10em;
    }
    .edit{
        padding-left: 1.5em;
        a{
            font-size: 0.8em;
            color: #666;
            cursor: default;
        }
        a:link{
            color: #666;
         
        }
        a:hover{
            color: goldenrod;
            
        }

     
    }
    


}
.adding{
    form{
        display: flex;
        align-items: flex-start;
        margin-top: 1em;
        margin-left: 3em;
    }
    .quantity{
        width: 3em;
        margin-left: 1em;
        mat-form-field{
            width: 100%;
            mat-select{
                width: 100%;
            }
        }
    }
    .date{
        margin-left: 1em;
    }
    .hour{
        margin-left: 1em;
        width: 3em;
        mat-form-field{
            width: 100%;
            mat-select{
                width: 100%;
            }
        }
    }
    .minute{
        margin-left: 1em;
        width: 3em;
        mat-form-field{
            width: 100%;
            mat-select{
                width: 100%;
            }
        }
    }
}