ul{

list-style-type: none;
}
.index{
    width: 1.5em;
    color: #ccc;
    padding-right: 0.5em;
    text-align: right;
    span{
        font-size: 0.8em;
    }
}
.showing{
    font-size: 0.8em; 
    color: #666;
    margin-bottom: 0.2em;
}
li.current{
    border: 1px solid forestgreen !important;
    border-left: 4px solid forestgreen !important;
    color: forestgreen !important;
}
li.completed{
   
    border: 1px solid #ccc !important;
    border-left: 4px solid #ccc !important;
    color: #777 !important;
}
li.displaying{
   
    margin-bottom: 0.5em;
    padding: 0.5em;
    padding-left: 0em;
    border: 1px solid #666;
    border-left: 4px solid #666;
    font-size: 0.9em;
    color: #666;
    display: flex;

    .foreignKey{
        width: 10em;
    }
    .quantity{
        width: 3em;
        span{
            font-size: 0.8em;
        }
    }
    .date{
        width: 10em;
    }
    .status{
        padding-right: 3em;
        span{
            font-size: 0.8em;
        }
    }
    .edit{
        a{
            font-size: 0.8em;
            color: #666;
            cursor: default;
        }
        a:link{
            color: #666;
         
        }
        a:hover{
            color: goldenrod;
            
        }
    }
    .delete{
        margin-left: 6em;
        margin-right: 1em;
        
        
    }

}

