<div *ngIf="entityConfig">
  <div style="display: flex; align-items: center;">

    <h2 style="color: #333;">{{entityConfig.plural}}</h2>

    <ng-container *ngIf="entityConfig.add && !adding">
      <button class="addbutton" mat-icon-button matTooltip="add entry" (click)="showAdding(true)">
        <mat-icon>add_circle_outline</mat-icon>
      </button>
    </ng-container>

  </div>





  <ng-container *ngIf="adding">
    <div class="adding">
      <button mat-icon-button matTooltip="done" (click)="showAdding(false)">
        <mat-icon>arrow_back</mat-icon>
      </button>

      <button mat-stroked-button [disabled]="!addEntitiesValid()" matTooltip="save" (click)="saveAddEntities()">
        save all
      </button>

    </div>


    <ng-container *ngIf="addedThisSave>0">
      <div class="showing">
        <span>Added {{addedThisSave}} entries</span>
      </div>
    </ng-container>

    <ng-container *ngIf="addEntities">
      <ul class="addentries">
        <ng-container *ngFor="let addEntity of addEntities; let i=index">
          <li>


            <form [formGroup]="addEntity">

              <div style="width: 1.5em;">
                <span *ngIf="addEntity.valid" class="valid">&#x2713;</span>
                <span *ngIf="!addEntity.valid">&nbsp;</span>
              </div>



              <ng-container *ngFor="let field of entityConfig.fields">

                <ng-container *ngIf="!field.foreignKey">
                  <ng-container *ngIf="field.input && field.input.type==='textarea'; else textinput">
                    <div class="text">
                      <mat-form-field>
                        <mat-label>{{field.name}}</mat-label>
                        <textarea matInput [formControlName]="field.name" [rows]="field.input.rows"
                          [cols]="field.input.cols"></textarea>
                      </mat-form-field>

                    </div>
                  </ng-container>
                  <ng-template #textinput>
                    <div class="textinput">
                      <mat-form-field>
                        <mat-label>{{field.name}}</mat-label>
                        <input matInput type="text" [placeholder]="field.name" [formControlName]="field.name">
                      </mat-form-field>
                    </div>
                  </ng-template>

                </ng-container>

                <ng-container *ngIf="field.foreignKey">
                  <mat-form-field>
                    <mat-label>{{field.name}}</mat-label>
                    <mat-select [formControlName]="field.name"
                      (change)="setLatestForeignKeyValueForAdd(addEntity,field)">
                      <mat-option *ngFor="let entity of foreignKeyEntities[field.foreignKey]" [value]="entity.id">
                        {{entity[field.label]}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </ng-container>
              </ng-container>



              <span style="width: 8em; display: flex; justify-content: space-between;">

                <button mat-icon-button matTooltip="add another entry" (click)="addAddEntity()">
                  <mat-icon>add_outline</mat-icon>
                </button>

                <button mat-icon-button matTooltip="delete entry" (click)="removeAddEntity(i)">
                  <mat-icon>delete_outline</mat-icon>
                </button>

              </span>

            </form>


          </li>
        </ng-container>
      </ul>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="!adding">


    <div class="controls">
      <ng-container *ngIf="entityConfig.filter">
        <ng-container *ngFor="let filter of entityConfig.filter">
          <ng-container *ngIf="configSchemaService.getEntityConfig(filter.entity) as foreignKeyEntityConfig">
            <div class="filter">
              <mat-form-field>
                <mat-label>{{foreignKeyEntityConfig.name}}</mat-label>
                <mat-select (selectionChange)="doFilter(filter.field, $event.value)">
                  <mat-option *ngIf="filter.all" [value]="FILTER_ALL">
                    all
                  </mat-option>

                  <mat-option *ngFor=" let entity of foreignKeyEntities[filter.entity]" [value]="entity.id">
                    {{entity[filter.label]}}
                  </mat-option>

                </mat-select>
              </mat-form-field>
            </div>
          </ng-container>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="entityConfig.search">
        <div class="search">
          <mat-form-field>
            <input matInput type="text" size="25" placeholder="search" [(ngModel)]="searchString">
          </mat-form-field>
          <button mat-icon-button (click)="doSearch()">
            <mat-icon>search</mat-icon>
          </button>
        </div>

      </ng-container>

      <ng-container *ngIf="false && entityConfig.add">


        <button class="addbutton" mat-icon-button matTooltip="add entry" (click)="showAdding(true)">
          <mat-icon>add_circle_outline</mat-icon>
        </button>


      </ng-container>


    </div>

    <ng-container *ngIf="result">
      <div class="showing">
        Showing {{result.returned}} of {{result.total}}
        <ng-container *ngIf="search && search.search">
          for &ldquo;{{search.search}}&rdquo;
        </ng-container>



      </div>

      <ng-container *ngIf="result.total>result.returned">
        <div>
          <button mat-icon-button matTooltip="previous page" (click)="previousPage()"
            [disabled]="1>result.query.offset">
            <mat-icon>navigate_before</mat-icon>
          </button>
          <button mat-icon-button matTooltip="next page" (click)="nextPage()"
            [disabled]="(result.query.offset+result.returned)>=result.total">
            <mat-icon>navigate_next</mat-icon>
          </button>
        </div>

      </ng-container>

    </ng-container>
    <div *ngIf="(entities$|async) as entities">
      <ul>
        <ng-container *ngFor="let entity of entities; let i=index">
          <ng-container *ngIf="100>i">

            <li class="displaying"
              [ngClass]="{'enabled' : entity[entityConfig.enablement], 'disabled' : (entityConfig.enablement && !entity[entityConfig.enablement])}">
              <div>
                <div class="index">
                  <span>{{result.query.offset+1+i}}</span>
                </div>
                <ng-container *ngIf="entityConfig.enablement">
                  <div class="status">

                    <a
                      (click)="toggle(entity,entityConfig.enablement)">{{entity[entityConfig.enablement] ? '&#x2713;' : '&times;'}}</a>
                  </div>
                </ng-container>


                <ng-container *ngIf="!formGroups[entity.id]">
                  <ng-container *ngFor="let field of entityConfig.fields">

                    <ng-container *ngIf="!field.foreignKey">
                      <div class="field" [ngClass]="field.name">
                        <span>{{entity[field.name]}}</span></div>
                    </ng-container>

                    <ng-container *ngIf="field.foreignKey">
                      <ng-container *ngIf="foreignKeyEntitiesIdMap[field.foreignKey]">
                        <div class="field foreignKey" [ngClass]="field.name">
                          <span>{{foreignKeyEntitiesIdMap[field.foreignKey][entity[field.name]][field.label]}}</span>
                        </div>
                      </ng-container>
                    </ng-container>

                  </ng-container>


                  <div class="edit">
                    <a (click)="edit(entity)">edit</a>
                  </div>

                </ng-container>


                <ng-container *ngIf="formGroups[entity.id]">

                  <form [formGroup]="formGroups[entity.id]">


                    <ng-container *ngFor="let field of entityConfig.fields">

                      <ng-container *ngIf="!field.foreignKey">
                        <ng-container *ngIf="field.input && field.input.type==='textarea'; else textinput">
                          <div class="textarea">

                            <mat-form-field>
                              <mat-label>{{field.name}}</mat-label>
                              <textarea matInput [formControlName]="field.name" [rows]="field.input.rows"></textarea>
                            </mat-form-field>
                          </div>
                        </ng-container>
                        <ng-template #textinput>
                          <div class="textinput">
                            <mat-form-field>
                              <mat-label>{{field.name}}</mat-label>
                              <input matInput type="text" [formControlName]="field.name">
                            </mat-form-field>
                          </div>
                        </ng-template>

                      </ng-container>

                      <ng-container *ngIf="field.foreignKey">
                        <mat-form-field>
                          <mat-label>{{field.name}}</mat-label>
                          <mat-select [formControlName]="field.name">
                            <mat-option *ngFor="let entity of foreignKeyEntities[field.foreignKey]" [value]="entity.id">
                              {{entity[field.label]}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </ng-container>


                    </ng-container>

                    <div class="buttons">
                      <span>
                        <button mat-icon-button matTooltip="save changes" (click)="save(entity,i)"
                          [disabled]="formGroups[entity.id].pristine || loading[entity.id]">
                          <mat-icon>save_alt</mat-icon>
                        </button>
                      </span>
                      <span>
                        <button mat-icon-button (click)="cancel(entity)" matTooltip="close"
                          [disabled]="loading[entity.id]">
                          <mat-icon>close</mat-icon>
                        </button>
                      </span>
                    </div>
                  </form>

                </ng-container>


              </div>

            </li>

          </ng-container>
        </ng-container>
      </ul>
    </div>

  </ng-container>
</div>