<div *ngIf="entityConfig">
  <h2>{{entityConfig.plural}}</h2>

  <div *ngIf="(entities$|async) as entities">
    <ul>
      <ng-container *ngFor="let entity of entities; let i=index">
        <ng-container *ngIf="100>i">
          <ng-container *ngIf="!formGroups[entity.id]">
            <li>
              <ng-container *ngIf="entityConfig.enablement">
                <a (click)="toggle(entity,entityConfig.enablement)">{{entity[entityConfig.enablement] ? 'Y' : 'N'}}</a>
              </ng-container>

              <ng-container *ngFor="let field of entityConfig.fields">
                <ng-container *ngIf="!field.foreignKey">
                  {{entity[field.name]}}
                </ng-container>
                <ng-container *ngIf="field.foreignKey">
                  <ng-container *ngIf="foreignKeyEntitiesIdMap[field.foreignKey]">
                    {{foreignKeyEntitiesIdMap[field.foreignKey][entity[field.name]][field.label]}}
                  </ng-container>
                </ng-container>
              </ng-container>
              <span class="edit">
                <a (click)="edit(entity)">edit</a>
              </span>
            </li>
          </ng-container>
          <ng-container *ngIf="formGroups[entity.id]">
            <li>
              <form [formGroup]="formGroups[entity.id]">


                <ng-container *ngFor="let field of entityConfig.fields">

                  <ng-container *ngIf="!field.foreignKey">
                    <input type="text" [formControlName]="field.name">
                  </ng-container>

                  <ng-container *ngIf="field.foreignKey">
                    <select [formControlName]="field.name">
                      <option *ngFor="let entity of foreignKeyEntities[field.foreignKey]" [value]="entity.id">
                        {{entity[field.label]}}
                      </option>
                    </select>
                  </ng-container>


                </ng-container>

                <span class="edit">
                  <input type="button" (click)="save(entity,i)" value="save"
                    [disabled]="formGroups[entity.id].pristine || loading[entity.id]">
                </span>
                <span class="edit">
                  <input type="button" (click)="cancel(entity)" value="cancel" [disabled]="loading[entity.id]">
                </span>

              </form>
            </li>
          </ng-container>

        </ng-container>
      </ng-container>
    </ul>
  </div>
</div>