<input type="text" matInput class="autocomplete" [value]="current" [matAutocomplete]="auto"
  (input)="onChange($event.target.value)" (blur)="checkOptionAfterBlur($event.target.value)" [disabled]="addingEntry">

<mat-autocomplete #auto="matAutocomplete" [displayWith]="getDisplayWith()">
  <mat-option *ngFor="let option of filteredOptions | async" [value]="option"
    (onSelectionChange)="selectionChange(option)">
    {{getOptionValue(option)}}
  </mat-option>
</mat-autocomplete>

<div class="optionNotFound" *ngIf="optionNotFound">
  <span>
    "{{optionNotFound}}" is not currently in the database.
    Would you like to add this entry?</span>
  <div>
    <button mat-raised-button (click)="addNewEntry(optionNotFound)" [disabled]="addingEntry">add</button>
    &nbsp;
    <button mat-raised-button (click)="cancelAddNew()" [disabled]="addingEntry">cancel</button>
  </div>
  <div *ngIf="addingEntry">
    <mat-spinner diameter="10"></mat-spinner>
  </div>
</div>