div.display{
    display: flex;
}
.field{
    border: 1px solid #ccc
}
.text{
    width: 15em;
}
.answer{
    width: 10em;
    span{
        font-size: 0.8em;
    }
}
.categories{
    font-size: 0.8em;
    margin-left: 0.3em;
}
.type{
    padding-left: 0.2em;
    span{
        font-size: 0.75em;
    }
   
    width: 1.4em;
    margin-left: 0.3em;
}
.difficulty{
    padding-left: 0.2em;
    span{
        font-size: 0.75em;
    }
    width: 1.4em;
    margin-left: 0.3em;
}

.details{
    .answer{
       
        display: flex;
        flex-direction: column;
        span{
            display: inline-block;
            margin-bottom: 0.3em;
        }
    }
}
.buttons{
    margin-top: 0.2em;
}