<div class="display">


  <div class="text">
    <span>{{entity.text}}</span>
  </div>

  <ng-container *ngIf="foreignKeysEntitiesIdMap">

    <div class="author">
      <ng-container *ngFor="let author of entity.author">
        <span>{{foreignKeysEntitiesIdMap.authors[author].name}}</span>&nbsp;
      </ng-container>


    </div>


    <div class="work">

      <span *ngIf="entity.work">{{foreignKeysEntitiesIdMap.works[entity.work].title}}</span>

    </div>




  </ng-container>


  <div class="buttons edit">
    <a (click)="edit.next()">edit</a>
  </div>


</div>